#btnWrite{
     -fx-background-radius: 120px;
     -fx-border-radius: 120px;
     -fx-background-color: #FB8006;
}

#pane{
    -fx-background-color:white;
}

#back,
#replay,
#replayAll,
#forward,
#btnSend,
#updateInbox,
#updateOutbox,
#log{
    -fx-background-radius: 12px;
    -fx-border-radius: 10px;
    -fx-border-color: orange;
    -fx-border-width: 1;
}

.button{
    -fx-cursor: hand;
}

#updateInbox,
#updateOutbox,
#log{
    -fx-text-fill: #ffffff;
}

.only-padding{
    -fx-border-color : grey;
    -fx-font-size:14px;
    -fx-padding : 1.2em;
    -fx-pref-width:640;
    -fx-line-spacing: 10;
}

.grey{
    -fx-background-color:#AAAAAA;
}

.white{
    -fx-background-color:#DDDDDD;
}

.check-box:selected .mark {
    -fx-background-color: green;
    -fx-padding:0.4em;
}

.check-box{
    -fx-pref-width:20px;
    -fx-pref-height:20px;
}

.scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}

#send #textTo,
#send #textSubject,
#send #textMessage{
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-border-radius: 6px;
    -fx-padding:4px;
}

#updateOutbox,
#updateInbox{
    -fx-background-radius: 12;
    -fx-font-size: 16;
    -fx-text-fill: black;
}


#updateOutbox:pressed,
#updateInbox:pressed{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
}

#updateOutbox:hover,
#updateInbox:hover{
    -fx-background-radius: 12;
    -fx-font-size: 16;
    -fx-text-fill: #FB8006;
    -fx-border-color: #FB8006;
    -fx-border-width: 1.5px;
}